<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978684735019-duhhhfmrm0plngpuk567bjd38hjdvat4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978684735019-duhhhfmrm0plngpuk567bjd38hjdvat4</string>
	<key>API_KEY</key>
	<string>AIzaSyBq_rTcAxlSZf2_I2dkzA24i4zDMhlwFtU</string>
	<key>GCM_SENDER_ID</key>
	<string>978684735019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.aroundu.messenger</string>
	<key>PROJECT_ID</key>
	<string>aroundu-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>aroundu-messenger.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978684735019:ios:b592e698929351a2ab846e</string>
</dict>
</plist>